<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row flex-nowrap">
            <header class="col-auto col-md-3 col-xl-2 px-0 bg-dark">
                <nav class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100 ms-2">
                    <a class="d-flex align-items-center py-4 ms-1 mb-md-0 me-md-auto text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="fs-5 fw-bolder ps-3">Biblioteca</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 w-100" id="menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mt-2 mb-5">
                                <div class="row row-cols-2 align-items-center">
                                    <span class="ms-1 d-none d-sm-inline">@User.Identity.Name</span>
                                </div>
                            </li>                                    
                        } 
                        <li class="nav-item my-2 @Html.IsActive("Home", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_dashboard.svg" alt="Icono dashboard" />
                                    <span class="text-start">Dashboard</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("TiposBibliografium", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0 "  asp-area="" asp-controller="TiposBibliografium" asp-action="Index">
                                <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_bibliografia.svg" alt="Icono bibliografia" />
                                    <span class="text-start">Bibliografía</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("Editoras", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Editoras" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_editoras.svg" alt="Icono editoras" />
                                <span class="ms-1 d-none d-sm-inline">Editoras</span>
                                </div>
                            </a>
                        </li>                        
                        <li class="nav-item my-2 @Html.IsActive("Ciencias", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Ciencias" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_ciencias.svg" alt="Icono ciencias" />
                                <span class="ms-1 d-none d-sm-inline">Ciencias</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("Idiomas", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Idiomas" asp-action="Index">
                                  <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_Idiomas.svg" alt="Icono idioma" />
                                <span class="ms-1 d-none d-sm-inline">Idiomas</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("Autores", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Autores" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_autores.svg" alt="Icono autores" />
                                <span class="ms-1 d-none d-sm-inline">Autores</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("Libros", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Libros" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_libros.svg" alt="Icono libros" />
                                <span class="ms-1 d-none d-sm-inline">Libros</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("Usuarios", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Usuarios" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_usuarios.svg" alt="Icono usuarios" />
                                <span class="ms-1 d-none d-sm-inline">Usuarios</span>
                                </div>
                            </a>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item my-2 @Html.IsActive("Empleados", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="Empleados" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_employees.svg" alt="Icono usuarios" />
                                <span class="ms-1 d-none d-sm-inline">Empleados</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item my-2 @Html.IsActive("UsuariosEmpleados", "Index")">
                            <a class="nav-link ps-3 align-middle text-white px-0" asp-area="" asp-controller="UsuariosEmpleados" asp-action="Index">
                                 <div class="row row-cols-2 align-items-center">
                                    <img class="iconos-width" src="/images/icon_admin.svg" alt="Icono usuarios" />
                                <span class="ms-1 d-none d-sm-inline">Administradores</span>
                                </div>
                            </a>
                        </li>        
                        }
                                        
                    </ul>
                </nav>
            </header>

            <div class="col-xs-12 col-md-10 main-background">
                <main role="main" class="container">
                    <div class="pt-4 px-3">
                        @RenderBody()
                    </div>
                    
                </main>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
