@model Biblioteca.Models.Usuario

@{
    ViewData["Title"] = "Detalles Usuario";
}

<h1 class="title_main">Detalles Usuario</h1>

<div class="mt-4">
    <h3>Detalle</h3>
    <hr />
    <div class="bg-white rounded gy-2 me-auto w-50">
        <table class="table fs-5">
            <thead>
                <tr>
                    <th scope="col">Campo</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Cedula)</td>
                    <td>@Html.DisplayFor(model => model.Cedula)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NoCarnet)</td>
                    <td>@Html.DisplayFor(model => model.NoCarnet)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TipoPersona)</td>
                    <td>@Html.DisplayFor(model => model.TipoPersona)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Estado)</td>
                    <td>
                        <span class="@(Model.Estado ? "green-circle" : "red-circle")"></span>
                        @(Model.Estado ? "Activo" : "Inactivo")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row row-cols-2 justify-content-start form-group mt-5">
        <div class="col-1">
            <a asp-action="Edit" asp-route-id="@Model?.Identificador" class="btn btn-primary">Editar</a>
        </div>
        <div class="col-1">
            <a class="btn btn-light bg-white text-dark border border-dark" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>
