@model Biblioteca.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignaturaTopografica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignaturaTopografica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoresNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoresNavigation.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CienciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CienciaNavigation.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditoraNavigation.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdiomaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdiomaNavigation.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBibliografiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBibliografiaNavigation.Identificador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Identificador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
